# Java compilado
*.class

# Maven
**/target/

# NetBeans com Ant
**/build/
**/dist/
**/nbproject/private/

# IntelliJ IDEA
**/.idea/
*.iml

# VS Code local
**/.vscode/

# Arquivos temporários
*.log
*.swp
*~
.DS_Store
Thumbs.db
