# Java compilado
*.class
*.jar
*.war
*.ear

# Erros da JVM
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
out/

# NetBeans
build/
dist/
nbbuild/
nbdist/
nbproject/private/

# VS Code
.vscode/

# Arquivos temporários
*.log
*.tmp
*.swp
*~
.DS_Store
Thumbs.db